<?xml version="1.0" encoding="utf-8"?>

<!--
  Per altre informazioni su come configurare l'applicazione ASP.NET, vedere
 https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="ContabilitàDBConnectionString" connectionString="Data Source=progettoesame2017.database.windows.net;Initial Catalog=ContabilitàDB;Persist Security Info=True;User ID=SimoneRicci;Password=S1m0x_DJ"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <customErrors mode="Off"/>
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
